.App {
  text-align: center;
}



////CSS from old

html, body, div, span, h1, h2, h3, p, a, img, strong, i, ul, li, article, header, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, header, section {
  display: block;
}

body {
  line-height: 1;
}

img {
  border-radius: .5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 14px 0 rgba(0, 0, 0, 0.1);
}

.container {
  position: relative;
  width: calc(20% - 6em);
}

.image {
  display: block;
  width: 90%;
  height: auto;
  bottom: 0;
  opacity: .4;
  position: absolute;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  /* left: 0; */
  right: 0;
  height: 100%;
  width: 90%;
  opacity: 0;
  transition: .5s ease;
  background-color: #3d4449;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  /* color: white; */
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.deleteBtn {
  z-index: 2;
}

#sidebar {
  background: #f5f6f7 !important;
  border-right: rgba(222, 225, 226, 0.75) 1px solid;
}

#bookImgMain {
  margin-top: 2rem;
  padding-bottom: 3rem;
}

.imgExample {
  opacity: 0.5;
}

.booksMedia {
  position: relative;
  height: 200px;
  width: 150px;
  rgba: (0, 0, 0, 0.5);
  font-weight: bold;
  justify-content: flex-end;
  display: flex;
}

.booksMedia img {
  border-radius: .5rem;
  position: absolute;
  bottom: 0;
  border: #ccc .5px solid;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 14px 0 rgba(0, 0, 0, 0.1);
}

.booksMedia a {
  text-transform: capitalize;
  font-size: 12px;
  letter-spacing: .15em;
  font-weight: bold;
  box-shadow: none;
}

@media screen and (max-width: 480px) {
  .booksMedia {
    max-height: 150px;
    max-width: 130px;
  }

  .booksMedia img {
    height: 90%;
  }
}

.fa-times {
  background: #f5f5f57a;
  border-radius: .15em;
  bottom: 0;
  position: absolute;
  color: #3d3d3d;
  padding: 5px;
  font-size: 22px;
}

button {
  box-shadow: inset 0 0 0 2px #7f888f !important;
  /* color: #f56a6ac7 !important; */
}

#sidebar>.inner {
  position: relative;
}

.posts {
  /* margin: 0 !important; */
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 6em);
}

ul {
  list-style: none;
}

body {
  -webkit-text-size-adjust: none;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

/* Basic */
@-ms-viewport {
  width: device-width;
}

body {
  -ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {
  html, body {
    min-width: 320px;
  }
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #ffffff;
}

body.is-preload *, body.is-preload *:before, body.is-preload *:after {
  -moz-animation: none !important;
  -webkit-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

/* Type */
body, input {
  color: #3d4449d1;
  font-family: "Open Sans", sans-serif;
  font-size: 13pt;
  font-weight: 400;
  line-height: 1.65;
}

@media screen and (max-width: 1680px) {
  body, input {
    font-size: 11pt;
  }
}

@media screen and (max-width: 1280px) {
  body, input {
    font-size: 10pt;
  }
}

@media screen and (max-width: 360px) {
  body, input {
    font-size: 9pt;
  }
}

a {
  -moz-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  color: #f56a6a;
  text-decoration: none;
  margin: 15px;
}

a:hover {
  border-bottom-color: #f56a6a;
  color: #f56a6a !important;
}

a:hover strong {
  color: inherit;
}

strong {
  color: #3d4449;
  font-weight: 600;
}

i {
  font-style: italic;
}

p {
  margin: 0 0 2em 0;
}

h1, h2, h3 {
  color: #3d4449;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  line-height: 1.5;
  margin: 0 0 1em 0;
}

h1 {
  font-size: 4em;
  margin: 0 0 0.5em 0;
  line-height: 1.3;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.25em;
}

@media screen and (max-width: 1680px) {
  h1 {
    font-size: 3.5em;
  }
}

@media screen and (max-width: 980px) {
  h1 {
    font-size: 3.25em;
  }
}

@media screen and (max-width: 736px) {
  h1 {
    font-size: 2em;
    line-height: 1.4;
  }

  h2 {
    font-size: 1.5em;
  }
}

/* Row */
/* Section/Article */
header p {
  font-family: "Roboto Slab", serif;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.075em;
  margin-top: -0.5em;
  text-transform: uppercase;
}

header.major> :last-child {
  border-bottom: solid 3px #f56a6a;
  display: inline-block;
  padding: 0 0.75em 0.5em 0;
  float: left;
}

/* Form */
input[type="text"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: #ffffff;
  border-radius: 0.375em;
  border: none;
  border: solid 1px rgba(210, 215, 217, 0.75);
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
}

input[type="text"]:invalid {
  box-shadow: none;
}

input[type="text"]:focus {
  border-color: #f56a6a;
  box-shadow: 0 0 0 1px #f56a6a;
}

input[type="text"] {
  height: 2.75em;
}

::-webkit-input-placeholder {
  color: #9fa3a6 !important;
  opacity: 1.0;
}

:-moz-placeholder {
  color: #9fa3a6 !important;
  opacity: 1.0;
}

::-moz-placeholder {
  color: #9fa3a6 !important;
  opacity: 1.0;
}

:-ms-input-placeholder {
  color: #9fa3a6 !important;
  opacity: 1.0;
}

ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em;
}

ul li {
  padding-left: 0.5em;
}

/* Actions */
ul.actions {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  cursor: default;
  list-style: none;
  margin-left: -1em;
  padding-left: 0;
}

ul.actions li {
  padding: 0 0 0 1em;
  vertical-align: middle;
}

/* Button */
button, .button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: transparent;
  border-radius: 0.375em;
  border: 0;
  box-shadow: inset 0 0 0 2px #f56a6a;
  color: #f56a6a;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto Slab", serif;
  font-size: 0.8em;
  font-weight: 700;
  height: 3.5em;
  letter-spacing: 0.075em;
  line-height: 3.5em;
  padding: 0 2.25em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

button:hover, .button:hover {
  background-color: rgba(245, 106, 106, 0.05);
}

button:active, .button:active {
  background-color: rgba(245, 106, 106, 0.15);
}


.add {
  color: white;
  background: #f56a6a !important;
}


/* Wrapper */
#wrapper {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  min-height: 100vh;
}

/* Main */
#main {
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -moz-flex-shrink: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  width: 100%;
}

#main>.inner {
  padding: 0 6em 0.1em 6em;
  margin: 0 auto;
  max-width: 110em;
}

#main>.inner>section {
  padding: 6em 0 4em 0;
  border-top: solid 2px rgba(210, 215, 217, 0.75);
}

#main>.inner>section:first-of-type {
  border-top: 0 !important;
}

@media screen and (max-width: 1680px) {
  #main>.inner {
    /* padding: 0 5em 0.1em 5em ;
         */
    padding: 0 5em 0.1em 2em;
  }

  #main>.inner>section {
    padding: 5em 0 3em 0;
  }
}

@media screen and (max-width: 1280px) {
  #main>.inner {
    padding: 0 4em 0.1em 4em;
  }

  #main>.inner>section {
    padding: 4em 0 2em 0;
  }
}

@media screen and (max-width: 736px) {
  #main>.inner {
    padding: 0 2em 0.1em 2em;
  }

  #main>.inner>section {
    padding: 3em 0 1em 0;
  }
}

#sidebar {
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  -moz-transition: margin-left 0.5s ease, box-shadow 0.5s ease;
  -webkit-transition: margin-left 0.5s ease, box-shadow 0.5s ease;
  -ms-transition: margin-left 0.5s ease, box-shadow 0.5s ease;
  transition: margin-left 0.5s ease, box-shadow 0.5s ease;
  background-color: #f5f6f7;
  font-size: 0.9em;
  position: relative;
  width: 26em;
}

#sidebar h2 {
  font-size: 1.3888888889em;
}

#sidebar>.inner {
  padding: 2.2222222222em 2.2222222222em 2.4444444444em 2.2222222222em;
  position: relative;
  width: 26em;
}

#sidebar>.inner>* {
  margin: 0 0 3.5em 0;
}

#sidebar>.inner>*> :last-child {
  margin-bottom: 0;
}

#sidebar>.inner>*:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

#sidebar>.inner>.alt {
  background-color: #eff1f2;
  border-bottom: 0;
  margin: -2.2222222222em 0 4.4444444444em -2.2222222222em;
  padding: 2.2222222222em;
  width: calc(100% + 4.4444444444em);
}



@media screen and (max-width: 1680px) {
  #sidebar {
    width: 24em;
  }

  #sidebar>.inner {
    padding: 1.6666666667em 1.6666666667em 1.3333333333em 1.6666666667em;
    width: 24em;
  }

  #sidebar>.inner>.alt {
    margin: -1.6666666667em 0 3.3333333333em -1.6666666667em;
    padding: 1.6666666667em;
    width: calc(100% + 3.3333333333em);
  }

}

@media screen and (max-width: 1280px) {
  /* #sidebar {
    box-shadow: 0 0 5em 0 rgba(0, 0, 0, 0.175);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 10000;
  } */


  #sidebar>.inner {
    -webkit-overflow-scrolling: touch;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
  }

  #sidebar>.inner:after {
    content: '';
    display: block;
    height: 4em;
    width: 100%;
  }


  body.is-preload #sidebar {
    display: none;
  }
}

@media screen and (max-width: 736px) {

}

/* Header */
#header {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  border-bottom: solid 5px #f56a6a;
  padding: 6em 0 1em 0;
  position: relative;
}

#header>* {
  -moz-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-bottom: 0;
}

#header .logo {
  border-bottom: 0;
  color: inherit;
  /* display: flex; */
  float: left;
  font-family: "Roboto Slab", serif;
  font-size: 1.125em;
}

@media screen and (max-width: 736px) {
  #header {
    padding-top: 6.5em;
  }

  #header .logo {
    font-size: 1.25em;
    margin: 0;
  }
}

@media screen and (max-width: 480px) {
  #header a {
    display: none !important;
  }

  #banner {
    padding: 1.5 !important;
  }

  #banner .content p, ul {
    display: none;
  }

  #banner .content .actions {
    display: none;
  }
}

/* Banner */
#banner {
  padding: 6em 0 4em 0;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

#banner h1 {
  margin-top: -0.125em;
}

#banner .content {
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -moz-flex-shrink: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  width: 50%;
}

.infogroup {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 600;
  padding-left: 6px;
  width: 100%;
}

.author-desc {
  font-style: italic;
  color: black;
}

.infowrapper {
  display: inline-flex;
  border-bottom: .15em solid #3d444963;
  width: 100%;
  margin: 1em;
}

.infogroup button {
  width: 50%;
  justify-content: center;
  display: flex;
  margin: auto;
}

#banner .image {
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  display: block;
  margin: 0 0 2em 4em;
  width: 50% !important;
  position: relative !important;
}

#banner .image img {
  height: 100%;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  object-fit: cover;
  -moz-object-position: center;
  -webkit-object-position: center;
  -ms-object-position: center;
  object-position: center;
  width: 100%;
}

@media screen and (max-width: 480px) {
  #banner span {
    display: none !important;
  }
}

@media screen and (min-width: 736px) {
  .booksMedia {
    margin: 10px;
  }
}
